* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    background: linear-gradient(180deg, rgb(255, 255, 255),rgb(20,20,20));
    background-attachment: scroll;
}

#header {
    width: 100vw;
    height: 18vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: auto;
    text-align: center;
    z-index: 1;
}

.maintab {
    flex:1;
    display: flex;
    text-decoration: none!important;
}

#home {
    /* background: linear-gradient(64deg, rgb(240,20,0),rgb(240,120,0));
    color: rgba(255,255,255,0.4);
    font-size: 14vh;
    height: 15vh;
    clear: both;
    z-index: 1;
    mix-blend-mode: multiply; */
    height: 18vh;
    background: url('imgs/DEON-BannerX.svg');
    background-position: center;
    background-size: cover;
    /* width: 32vw; */
    flex: 1;
    transition: background 0.2s 0.2s;
    -moz-transition: background 0.2s 0.2s;
}

#home:hover {
    background: url('imgs/DEON_BannerQ.svg');
    background-position: center;
    background-size: cover;
}

#left {
    /* background-color: rgb(240,20,0); */
    background: linear-gradient(90deg, rgb(255,0,0),rgb(240,20,0));
    height: 18vh;
    flex: 1;
    margin: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color: white;
    flex-direction: column;
    overflow: visible;
}

#left:hover > #tabs {
    visibility: visible;
    position: relative;
}

#left > p {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#left:hover > p {
    position: absolute;
}

#drop {
    text-decoration: none!important;
    background: mediumaquamarine;
    width: 100%;
    height: 18vh;
    color: inherit;
    font-size: 2em;
    display: block;
    float: left;
    padding-top: 8vh;
}

#tabs {
    visibility: hidden;
    width: 100%;
    height: 18vh!important;
    background: purple;
    display: block;
    color: white;
    text-decoration: none;
}

#tabs:hover {
    /* background: rgb(95, 0, 95); */
    background: url('/imgs/DEON.svg');
}


#right {
    /* background-color: rgb(240,120,0); */
    background: linear-gradient(270deg, rgb(240, 46, 86), rgb(240,120,0));
    height: 18vh;
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background 0.1s 0.1s;
}

#right:hover {
    background: linear-gradient(rgb(240,240,240),rgb(220,220,220));
    color: rgb(20,20,20);
    box-shadow: 0.2vw 0.2vw 1vw rgb(20,20,20);
}

p {
    font-size: 2em;
}